body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
  color: #fff;
}

.clock {
  width: 400px;
  height: 400px;
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 2px 10px 8px rgba(0, 0, 0, 0.1);
}

.number {
  font-size: 2rem;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(calc(var(--count) * 30deg));
}

.hand {
  position: absolute;
  right: 50%;
  bottom: 50%;
  width: 2%;
  height: 40%;
  background-color: #000;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform: translate(50%);
  transform-origin: bottom;
}

.number span {
  display: block;
  transform: rotate(calc(var(--count) * -30deg));
}

.hour {
  width: 3%;
  height: 30%;
  background-color: black;
  transform: rotate(60deg);
}

.minute {
  transform: rotate(90deg);
}

.second {
  width: 1%;
  height: 45%;
  background-color: red;
  transform: rotate(290deg);
}

.pin {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: black;
  border: 2px solid red;
  right: 50%;
  top: 50%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
